{% extends "template.html" %}

{% load static %}

{% block ul_nav %}
<ul class="nav">
    <li class="active">
        <a href="{% url 'login' %}">
            <i class="pe-7s-graph"></i>
            <p>Home</p>
        </a>
    </li>
</ul>
{% endblock ul_nav %}

{% block navbar-brand %}
    <a class="navbar-brand" href="#">Home</a>
{% endblock navbar-brand %}

{% block nav-login-logout %}
    <li>
        <a href="{% url 'login' %}">Log in</a>
    </li>
{% endblock nav-login-logout %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div id="row" class="row">
            <div class="col-md-12">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Log In</h3>
                    </div>

                    <div class="panel-body">
                        <form method="post" action="{% url 'login' %}">
                            {% csrf_token %}

                            <p class="bs-component">
                                <table>
                                    <tr>
                                        <td>{{ form.username.label_tag }}</td>
                                        <td>{{ form.username }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ form.password.label_tag }}</td>
                                        <td>{{ form.password }}</td>
                                    </tr>
                                </table>
                            </p>

                            <p class="bs-component">
                                <input class="btn btn-success btn-sm" type="submit" value="login" />
                            </p>
                            <input type="hidden" name="next" value="{{ next }}" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}