{% extends "template.html" %}

{% load static %}

{% block ul_nav %}
<ul class="nav">
    <li class="active">
        <a href="{% url 'login' %}">
            <i class="pe-7s-graph"></i>
            <p>Home</p>
        </a>
    </li>
</ul>
{% endblock ul_nav %}

{% block navbar-brand %}
    <a class="navbar-brand" href="#">Home</a>
{% endblock navbar-brand %}

{% block nav-login-logout %}
    <a href="{% url 'login' %}">Log in</a>
{% endblock nav-login-logout %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div id="row" class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">We've e-mailed you instructions for setting your password to the e-mail address you submitted.</h3>
                    </div>

                    <div class="panel-body">
                        <p>You should be receiving it shortly.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

