{% extends "dashboard/template.html" %}

{% load static %}

{% block ul_nav %}
<ul class="nav">
    <li class="active">
        <a href="{% url 'dashboard' %}">
            <i class="pe-7s-graph"></i>
            <p>Dashboard</p>
        </a>
    </li>
    <li>
        <a href="{% url 'user' %}">
            <i class="pe-7s-user"></i>
            <p>User Profile</p>
        </a>
    </li>
    <li>
        <a href="{% url 'table' %}">
            <i class="pe-7s-note2"></i>
            <p>Data Table</p>
        </a>
    </li>
    <li>
        <a href="{% url 'notifications' %}">
            <i class="pe-7s-bell"></i>
            <p>Notifications</p>
        </a>
    </li>
</ul>
{% endblock ul_nav %}

{% block navbar-brand %}
    <a class="navbar-brand" href="#">Dashboard</a>
{% endblock navbar-brand %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">What is SOMAH2 ?</h4>
                        <p class="category">A culturally sensitive communication app for breastfeeding and infant feeding counselling</p>
                    </div>
                    <div class="content">
                    <p>The SOMAH2 project aims to increase breastfeeding practice of new mothers by providing a medical application that will enhance the communication with midwives.</p>
                    <p>The application was developped during the spring of the European Project Semester (EPS) 2016 in Oslo and Akershus University College. It was conceptualized using a collaborative process with public health researchers.</p>
                    <p>The code is entirely open source and available on Github.</p>
                    <p>If you need more information, a complete report of the project is available here.</p>
                    </div>
                    <div class="content">
                        <div class="footer">
                            <div class="legend">
                                <i class="fa fa-circle text-info"></i> Open source
                                <i class="fa fa-circle text-danger"></i> Communication
                                <i class="fa fa-circle text-warning"></i> Application
                            </div>
                            <hr>
                            <div class="stats">
                                <i class="fa fa-history"></i> Updated the 09/02/2017
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card ">
                    <div class="header">
                        <h4 class="title">2017 Activity</h4>
                        <p class="category">All activities month-by-month (fake graph)</p>
                    </div>
                    <div class="content">
                        <div id="chartActivity" class="ct-chart"></div>

                        <div class="footer">
                            <div class="legend">
                                <i class="fa fa-circle text-info"></i> Data updates
                                <i class="fa fa-circle text-danger"></i> Google play store downloads
                            </div>
                            <hr>
                            <div class="stats">
                                <i class="fa fa-check"></i> Data information certified
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){
    demo.initChartist();
    $.notify({
        icon: 'pe-7s-gift',
        message: "Welcome to <b>SOMAH2</b> - a beautiful project for increasing breastfeeding practice"
    },{
        type: 'info',
        timer: 4000
    });
});
</script>
{% endblock javascript %}