{% extends "template.html" %}

{% load static %}

{% block ul_nav %}
<ul class="nav">
    <li>
        <a href="{% url 'dashboard' %}">
            <i class="pe-7s-graph"></i>
            <p>Dashboard</p>
        </a>
    </li>
    <li>
        <a href="{% url 'user' %}">
            <i class="pe-7s-user"></i>
            <p>User Profile</p>
        </a>
    </li>
    <li class="active">
        <a href="{% url 'table' %}">
            <i class="pe-7s-note2"></i>
            <p>Data Table</p>
        </a>
    </li>
    <li>
        <a href="{% url 'notifications' %}">
            <i class="pe-7s-bell"></i>
            <p>Notifications</p>
        </a>
    </li>
</ul>
{% endblock ul_nav %}

{% block navbar-brand %}
<a class="navbar-brand" href="#">Data Table</a>
{% endblock navbar-brand %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div id="row" class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <div style="display:inline-block;">
                            <h4 class="title" >Table of Periods</h4>
                            <p class="category">and their translations in each language</p>
                        </div>
                        <button type="button" class="btn btn btn-success pull-right" style="display:inline-block;" data-toggle="modal" data-target="#modal" data-add_period="true">New Period</button>

                    </div>
                    <p style="margin-top: 10px; text-indent: 10px;">
                        <input type="text" id="filter-period_id" onkeyup="filterPeriod()" placeholder="Search for id..">
                    </p>
                    <p style="margin-bottom: 0; text-indent: 10px;">
                        <input type="text" id="filter-period_name" onkeyup="filterPeriod()" placeholder="Search for name..">
                    </p>
                    <div id="table_period_div" class="content table-responsive table-full-width">

                        <table id="table-period" class="table table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center">Id</th>
                                    {% for language, flag in zipped_languages_flags %}
                                    <th>
                                        <a href="#" class="text-center" data-toggle="tooltip" title="{{ language.native_name }}">
                                            <img src="{{ flag }}" alt="flag image">
                                        </a>
                                    </th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for period, period_trs in all_periods_extended %}
                                <tr>
                                     <td class="text-center">{{ period }}</td>
                                     <td>{{ period_trs.0.name|truncatechars:20 }}</td>
                                     <td>{{ period_trs.1.name|truncatechars:20 }}</td>
                                     <td>{{ period_trs.2.name|truncatechars:20 }}</td>
                                     <td>{{ period_trs.3.name|truncatechars:20 }}</td>
                                     <td>{{ period_trs.4.name|truncatechars:20 }}</td>
                                     <td>{{ period_trs.5.name|truncatechars:20 }}</td>
                                     <td>{{ period_trs.6.name|truncatechars:20 }}</td>
                                     <td>{{ period_trs.7.name|truncatechars:20 }}</td>
                                     <td>
                                        <a href="#" class="text-center">
                                            <img src="/media/{{ period.image }}" alt="period image" style="width: 70px; height: 50px;">
                                        </a>
                                     </td>
                                     <td class="td-actions text-right">
                                         <button type="button" rel="tooltip" title="Edit Period" class="btn btn-success btn-simple btn-xs" data-toggle="modal" data-target="#modal" data-period_to_edit="{{ period.id }}">
                                            <i class="fa fa-edit"></i>
                                         </button>
                                         <button type="button" rel="tooltip" title="Remove Period" class="btn btn-danger btn-simple btn-xs" data-toggle="modal" data-target="#modal" data-period_to_remove="{{ period.id }}">
                                            <i class="fa fa-times"></i>
                                         </button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card">
                    <div class="header">
                        <div style="display:inline-block;">
                            <h4 class="title">Table of Topics</h4>
                            <p class="category">and their translations in each language</p>
                        </div>
                        <button type="button" class="btn btn btn-success pull-right" style="display:inline-block;" data-toggle="modal" data-target="#modal" data-add_topic="true">New Topic</button>
                    </div>

                    <p style="margin-top: 10px; text-indent: 10px;">
                        <input type="text" id="filter-topic_id" onkeyup="filterTopic()" placeholder="Search for id..">
                    </p>
                    <p style="margin-top: 10px; text-indent: 10px;">
                        <input type="text" id="filter-topic_period_id" onkeyup="filterTopic()" placeholder="Search for period id..">
                    </p>
                    <p style="margin-bottom: 0; text-indent: 10px;">
                        <input type="text" id="filter-topic_name" onkeyup="filterTopic()" placeholder="Search for name..">
                    </p>

                    <div id="table_topic_div" class="content table-responsive table-full-width">
                        <table id="table_topic" class="table table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center">Id</th>
                                    <th class="text-center">Period(s) Id</th>
                                    {% for language, flag in zipped_languages_flags %}
                                    <th>
                                        <a href="#" class="text-center" data-toggle="tooltip" title="{{ language.native_name }}">
                                            <img src="{{ flag }}" alt="flag image">
                                        </a>
                                    </th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for topic, topic_trs in all_topics_extended %}
                                <tr>
                                     <td class="text-center">{{ topic }}</td>
                                     <td class="text-center">{{ topic.get_periods }}</td>
                                     <td>{{ topic_trs.0.name|truncatechars:20 }}</td>
                                     <td>{{ topic_trs.1.name|truncatechars:20 }}</td>
                                     <td>{{ topic_trs.2.name|truncatechars:20 }}</td>
                                     <td>{{ topic_trs.3.name|truncatechars:20 }}</td>
                                     <td>{{ topic_trs.4.name|truncatechars:20 }}</td>
                                     <td>{{ topic_trs.5.name|truncatechars:20 }}</td>
                                     <td>{{ topic_trs.6.name|truncatechars:20 }}</td>
                                     <td>{{ topic_trs.7.name|truncatechars:20 }}</td>
                                     <td>
                                        <a href="#" class="text-center">
                                            <img src="/media/{{ topic.image }}" alt="topic image" style="width: 70px; height: 50px;">
                                        </a>
                                     </td>
                                     <td class="td-actions text-right">
                                         <button type="button" rel="tooltip" title="Edit Topic" class="btn btn-success btn-simple btn-xs" data-toggle="modal" data-target="#modal" data-topic_to_edit="{{ topic.id }}">
                                            <i class="fa fa-edit"></i>
                                         </button>
                                         <button type="button" rel="tooltip" title="Remove Topic" class="btn btn-danger btn-simple btn-xs" data-toggle="modal" data-target="#modal" data-topic_to_remove="{{ topic.id }}">
                                            <i class="fa fa-times"></i>
                                         </button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card">
                    <div class="header">
                        <div style="display:inline-block;">
                            <h4 class="title">Table of Contents</h4>
                            <p class="category">and their translations in each language</p>
                        </div>
                        <button type="button" class="btn btn btn-success pull-right" style="display:inline-block;" data-toggle="modal" data-target="#modal">New Content</button>
                    </div>
                    <p style="margin-top: 10px; text-indent: 10px;">
                        <input type="text" id="filter-content_topic_id" onkeyup="filterContent()" placeholder="Search for topic id..">
                    </p>
                    <p style="margin-bottom: 0; text-indent: 10px;">
                        <input type="text" id="filter-content_name" onkeyup="filterContent()" placeholder="Search for title or text..">
                    </p>
                    <div id="table_content_div" class="content table-responsive table-full-width">
                        <table id="table_content" class="table table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center">Topic Id</th>
                                    {% for language, flag in zipped_languages_flags %}
                                    <th colspan="2">
                                        <a href="#" class="text-center" data-toggle="tooltip" title="{{ language.native_name }}">
                                            <img src="{{ flag }}" alt="flag image">
                                        </a>
                                    </th>
                                    {% endfor %}
                                </tr>
                                    <th></th>
                                    {% for language, flag in zipped_languages_flags %}
                                        <th>title</th>
                                        <th>text</th>
                                    {% endfor %}
                            </thead>
                            <tbody>
                                {% for content, content_trs in all_contents_extended %}
                                <tr>
                                    <td class="text-center">{{ content.topic }}</td>
                                    <td>{{ content_trs.0.title|truncatechars:10 }}</td>
                                    <td>{{ content_trs.0.text|truncatechars:10 }}</td>
                                    <td>{{ content_trs.1.title|truncatechars:10 }}</td>
                                    <td>{{ content_trs.1.text|truncatechars:10 }}</td>
                                    <td>{{ content_trs.2.title|truncatechars:10 }}</td>
                                    <td>{{ content_trs.2.text|truncatechars:10 }}</td>
                                    <td>{{ content_trs.3.title|truncatechars:10 }}</td>
                                    <td>{{ content_trs.3.text|truncatechars:10 }}</td>
                                    <td>{{ content_trs.4.title|truncatechars:10 }}</td>
                                    <td>{{ content_trs.4.text|truncatechars:10 }}</td>
                                    <td>{{ content_trs.5.title|truncatechars:10 }}</td>
                                    <td>{{ content_trs.5.text|truncatechars:10 }}</td>
                                    <td>{{ content_trs.6.title|truncatechars:10 }}</td>
                                    <td>{{ content_trs.6.text|truncatechars:10 }}</td>
                                    <td>{{ content_trs.7.title|truncatechars:10 }}</td>
                                    <td>{{ content_trs.7.text|truncatechars:10 }}</td>
                                    <td>
                                        <a href="#" class="text-center">
                                            <img src="/media/{{ content.image }}" alt="content image" style="width: 70px; height: 50px;">
                                        </a>
                                    </td>
                                    <td class="td-actions text-right">
                                        <button type="button" rel="tooltip" title="Edit Content" class="btn btn-success btn-simple btn-xs" data-toggle="modal" data-target="#modal" data-content_to_edit="{{ content.id }}">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        <button type="button" rel="tooltip" title="Remove Content" class="btn btn-danger btn-simple btn-xs" data-toggle="modal" data-target="#modal" data-content_to_remove="{{ content.id }}">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}


{% block modal %}
    <div class="modal fade" id="modal"></div>
{% endblock modal %}


{% block javascript %}
    <script src="{% static 'dashboard/js/jquery.form.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/bootbox.min.js' %}" type="text/javascript"></script>
    <script type="text/javascript">


    $('#modal').on('show.bs.modal', function (event) {
         var modal = $(this);
         var period_to_remove = $(event.relatedTarget).data('period_to_remove'); //-period_to_remove
         var period_to_edit = $(event.relatedTarget).data('period_to_edit'); //data-period_to_edit
         var topic_to_remove = $(event.relatedTarget).data('topic_to_remove'); //-topic_to_remove
         var topic_to_edit = $(event.relatedTarget).data('topic_to_edit'); //data-topic_to_edit
         var content_to_remove = $(event.relatedTarget).data('content_to_remove'); //-content_to_remove
         var content_to_edit = $(event.relatedTarget).data('content_to_edit'); //data-content_to_edit
         var add_period = $(event.relatedTarget).data('add_period'); //-content_to_remove
         var add_topic = $(event.relatedTarget).data('add_topic'); //data-content_to_edit

         if (period_to_edit) {
             var url = "{% url 'edit_period_extended' period_id=0 language='GB' %}".replace('0', period_to_edit);
             $.ajax({
                 url: url,
                 context: document.body
             }).done(function(response) {
                 modal.html(response);
             });
         }
         else if (period_to_remove) {
             var url = "{% url 'remove_period_extended' pk=0 %}".replace('0', period_to_remove);
             $.ajax({
                 url: url,
                 context: document.body
             }).done(function(response) {
                 modal.html(response);
             });
         }
         else if(add_period) {
             $.ajax({
                 url: "{% url 'add_period_extended' %}",
                 context: document.body
             }).done(function(response) {
                 modal.html(response);
             });
         }
         else if (topic_to_edit) {
            var url = "{% url 'edit_topic_extended' topic_id=0 language='GB' %}".replace('0', topic_to_edit);
             $.ajax({
                 url: url,
                 context: document.body
             }).done(function(response) {
                 modal.html(response);
             });
         }
         else if (topic_to_remove) {
             var url = "{% url 'remove_topic_extended' pk=0 %}".replace('0', topic_to_remove);
             $.ajax({
                 url: url,
                 context: document.body
             }).done(function(response) {
                 modal.html(response);
             });
         }
         else if(add_topic) {
             $.ajax({
                 url: "{% url 'add_topic_extended' %}",
                 context: document.body
             }).done(function(response) {
                 modal.html(response);
             });
         }
         else if (content_to_edit){
            var url = "{% url 'edit_content_extended' content_id=0 language='GB' %}".replace('0', content_to_edit);
             $.ajax({
                 url: url,
                 context: document.body
             }).done(function(response) {
                 modal.html(response);
             });
         }
         else if (content_to_remove) {
             var url = "{% url 'remove_content_extended' pk=0 %}".replace('0', content_to_remove);
             $.ajax({
                 url: url,
                 context: document.body
             }).done(function(response) {
                 modal.html(response);
             });
         }
         else {
             $.ajax({
                 url: "{% url 'add_content_extended' %}",
                 context: document.body
             }).done(function(response) {
                 modal.html(response);
             });
         }
    });

    function filterPeriod() {
        input_id = document.getElementById("filter-period_id").value;
        input_name = document.getElementById("filter-period_name").value;
        table = document.getElementById("table-period");
        trs = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < trs.length; i++) {
            tds = trs[i].getElementsByTagName("td");
            for (j = 1; j < 8; j++) {
                td = trs[i].getElementsByTagName("td")[j];
                if (td) {
                    if ((td.innerHTML.toUpperCase().indexOf(input_name.toUpperCase()) > -1) && (td.innerHTML.toUpperCase().indexOf(input_id) > -1)) {
                        trs[i].style.display = "";
                        break;
                    } else {
                        trs[i].style.display = "none";
                    }
                }
            }
        }

    }

    function filterTopic() {
        input_id = document.getElementById("filter-topic_id").value;
        input_period_id = document.getElementById("filter-topic_period_id").value;
        input_name = document.getElementById("filter-topic_name").value;
        table = document.getElementById("table_topic");
        trs = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < trs.length; i++) {
            td_0 = trs[i].getElementsByTagName("td")[0];
            td_1 = trs[i].getElementsByTagName("td")[1];
            tds = trs[i].getElementsByTagName("td");
            for (j = 2; j < 9; j++) {
                td = trs[i].getElementsByTagName("td")[j];
                if (td) {
                    if ((td_0.innerHTML.toUpperCase().indexOf(input_id) > -1) && (td_1.innerHTML.toUpperCase().indexOf(input_period_id) > -1) && (td.innerHTML.toUpperCase().indexOf(input_name.toUpperCase()) > -1)) {
                        trs[i].style.display = "";
                        break;
                    } else {
                        trs[i].style.display = "none";
                    }
                }
            }
        }
    }

    function filterContent() {
        input_topic_id = document.getElementById("filter-content_topic_id").value;
        input_name = document.getElementById("filter-content_name").value;
        table = document.getElementById("table_content");
        trs = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < trs.length; i++) {
            td_0 = trs[i].getElementsByTagName("td")[0];
            tds = trs[i].getElementsByTagName("td");
            for (j = 1; j < 15; j++) {
                td = trs[i].getElementsByTagName("td")[j];
                if (td) {
                    if ((td_0.innerHTML.toUpperCase().indexOf(input_topic_id) > -1) && (td.innerHTML.toUpperCase().indexOf(input_name.toUpperCase()) > -1)) {
                        trs[i].style.display = "";
                        break;
                    } else {
                        trs[i].style.display = "none";
                    }
                }
            }
        }
    }

    </script>
{% endblock javascript %}