{% extends "template.html" %}

{% load static %}

{% block ul_nav %}
    <ul class="nav">
        <li>
            <a href="{% url 'dashboard' %}">
                <i class="pe-7s-graph"></i>
                <p>Dashboard</p>
            </a>
        </li>
        <li>
            <a href="{% url 'user' %}">
                <i class="pe-7s-user"></i>
                <p>User Profile</p>
            </a>
        </li>
        <li>
            <a href="{% url 'table' %}">
                <i class="pe-7s-note2"></i>
                <p>Data Table</p>
            </a>
        </li>
        <li>
            <a href="{% url 'notifications' %}">
                <i class="pe-7s-bell"></i>
                <p>Notifications</p>
            </a>
        </li>
    </ul>
{% endblock ul_nav %}

{% block navbar-brand %}
    <a class="navbar-brand" href="#">Register</a>
{% endblock navbar-brand %}

{% block nav-login-logout %}
    <li><a href="{% url 'logout' %}">Log out</a></li>
{% endblock nav-login-logout %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div id="row" class="row">
            <div class="col-md-12">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Register</h3>
                    </div>

                    <div class="panel-body">
                        <form method="post" action=".">
                            {% csrf_token %}
                            {% for field in form %}
                              <p class="bs-component">
                                {{ field.label_tag }}<br>
                                {{ field }}
                                {% if field.help_text %}
                                  <small style="color: grey">{{ field.help_text }}</small>
                                {% endif %}
                                {% for error in field.errors %}
                                  <p class="bs-component" style="color: red">{{ error }}</p>
                                {% endfor %}
                              </p>
                            {% endfor %}
                            <button class="btn btn-success btn-sm" type="submit">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
